<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <div class="flex-container">
            <div class="form2">
                <h1>Add An Author</h1> 
                <form action="/authors/add" method="post">
                    {% csrf_token %}
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name"><br>
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name"><br>
                    <label for="notes">Notes</label>
                    <textarea name="notes" id="notes" cols="30" rows="10"></textarea><br>
                    <button id="add">Add</button>
                </form>
            </div>
            <div class="table-container">
                <table class="table2">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    {% for author in authors %}
                        <tr>
                            <td>{{ author.id }}</td>
                            <td>{{ author.first_name }} {{ author.last_name }}</td>
                            <td><a href="/authors/{{ author.id }}">view</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
