<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h2>{{ title }}</h2>
        <h3>ID: {{ id }}</h3>
        <h3>Description: <span>{{ desc }}</span></h3>
        <p>Authors:</p>
        <ul>
            {% for author in book_author %}
                <li>{{ author.first_name }} {{ author.last_name }}</li>
            {% endfor %}
        </ul>
        <form action="/books/{{ id }}" method="post">
            {% csrf_token %}
            <div class="select-container">
                <label for="author_id">Add Author:</label>
                <select name="author_id">
                    {% for author in authors %}
                        <option value="{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Add</button>
        </form>
    </div>
</body>
</html>
