<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Show</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="wrapper">
        <i class="medium material-icons">live_tv</i>
        <h1>Edit Show # {{ show.id }}</h1>
        <form action="/update/{{show.id}}" method="POST" class="col s12">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <input value="{{ show.title }}" type="text" name="title">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input value="{{ show.network }}" name="network" type="text">
                </div>
                <div class="input-field col s6">
                    <input value="{{ show.release_date }}" name="release_date" id="release_date" type="date">
                    <label for="release_date">Release Date</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label>Description</label>
                    <textarea name="description" cols="30" rows="10">{{ show.desc }}</textarea>
                </div>
            </div>
            <input type="submit" value="Update">
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <a class="link" href="/shows/{{show.id}}">Go to Show!</a>
    </div>
    <a href="/shows/{{show.id}}">Go to Show</a>
</body>

</html>