<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Display a Show</title>
</head>
<body>
    <div class="nav-links">
        <a href="{% url 'index' %}">Go Back</a>
    </div>
    <div class="wrapper">
        <h1>TV Show # {{ show.id }}</h1>
        <p>Title: {{ show.title }}</p>
        <p>Network: {{ show.network }}</p>
        <p>Release Date: {{ show.release_date }}</p>
        <p>Description: {{ show.desc }}</p>
        <p>Last Updated: {{ show.updated_at }}</p>
        <p>
            <a href="{% url 'edit_show'
