<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Counter</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">  
</head>
<body>
    <div class="all-contents">

        <h1>Counter</h1>
        <p>{{request.session.counter}}times</p>

        <h2>Number of visits</h2>
        <p>{{request.session.visit}}</p>
    
       <form action="/destroy_session" method="post">
            {%csrf_token%}
            <button>Reset</button>
       </form>
    
       <form action="/two" method="post">
        {%csrf_token%}
        <button>increment By two</button>
       </form>
       

       <form action="incr-user" method="post">
        {%csrf_token%}
        <input type="text" name="user-input">
        <button>increment by</button>
       </form>
    </div>
    
</body>
</html>