<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TV SHOW {{show.id}}</h1>
    <h2>Title : {{show.title}}</h2>
    <h2>Network:{{show.network}}</h2>
    <h2>Release Date : {{show.release_date}}</h2>
    <h2>Description : {{show.desc}}</h2>

    <h3>last Updated : {{show.updated_at}}</h3>

    <a href="{{show.id}}/destroy">Delete</a>
    <a href="{{show.id}}/edit">Edit</a>
</body>
</html>