<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><User-template></User-template></title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
       {%for user in Usrs%} 
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.age}}</td>
        </tr>
        {%endfor%}
    </table>

    <form action="/add" method="post">
        {%csrf_token%}
        <label for="First_name">First Name</label>
        <input type="text" name="First_name">
        <label for="Last_name">Last Name</label>
        <input type="text" name="Last_name">
        <label for="mail">Email</label>
        <input type="email" name="mail">
        <label for="Age">Age</label>
        <input type="number" name="Age">
        <button>Add</button>


    </form>
</body>
</html>