<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <a href="/logout">Logout</a>
    <div class="container">
        <div class="green">
            You're logged in as '{{usr.first_name }}'.
        </div>
        <h1>Welcome {{ usr.first_name }} {{ usr.last_name }}!</h1>
    </div>
</body>
</html>
